<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.kpchl.registrationproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".underactivities.YourGroupManagmentActivity"
            android:parentActivityName=".useractivities.CheckYourGroupsActivity"/>
        <activity
            android:name=".useractivities.CheckYourGroupsActivity"
            android:parentActivityName=".MainMenuActivity" />
        <activity
            android:name=".useractivities.CheckYourDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".underactivities.GroupManagmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useractivities.CheckYourApplicationsActivity"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useractivities.ProjectInformations"
            android:parentActivityName=".ExampleProjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".underactivities.ProjectManagmentActivity"
            android:parentActivityName=".useractivities.ManageProjectsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useractivities.FillDetailsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useractivities.ManageGroupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useractivities.CreateGroupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useractivities.ManageProjectsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExampleProjectsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainMenuActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".useractivities.CreateProjectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:parentActivityName=".MainMenuActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>